<footer class="footer">
  <div class="footer__grid">
    <div>
      <div class="footer__brand">Centro Médico Vitalia</div>
      <div class="footer__lines">
        Av. Providencia 1234, of. 502<br />
        Providencia, Santiago<br />
        +56 2 2123 4567
      </div>
    </div>
    <div class="footer__col">
      <div class="footer__col-title">Sitio</div>
      <a routerLink="/">Inicio</a>
      <a routerLink="/quienes-somos">Quiénes somos</a>
      <a routerLink="/servicios">Servicios</a>
      <a routerLink="/galeria">Galería</a>
      <a routerLink="/contacto">Contacto</a>
    </div>
    <div class="footer__col">
      <div class="footer__col-title">Horario</div>
      <div class="footer__lines">Lunes a viernes 08:30 &ndash; 19:30<br />Sábado 09:00 &ndash; 14:00</div>
    </div>
  </div>
  <div class="footer__legal">© 2026 Centro Médico Vitalia. Contenido de demostración.</div>
</footer>
